<%- include('./partials/header') %>
<div class="ctr-content">
  <div id="user-log-in">
    <h1>The Power List</h1>
    <div class="form-group">
      <ul class="instruction-grid">
        <li class="justify-end">
          <h5>1)</h5>
        </li>
        <li class="align-steps">
          <h5>Add 5 critical tasks which need to be completed throughout the day.</h5>
        </li>
        <li class="justify-end">
          <h5>2)</h5>
        </li>
        <li class="align-steps">
          <h5>Select a category for each task and add any additional notes.</h5>
        </li>
        <li class="justify-end">
          <h5>3)</h5>
        </li>
        <li class="align-steps">
          <h5>As you complete your tasks, press the completed button on the home page to mark your task as done.</h5>
        </li>
        <li class="justify-end">
          <h5>4)</h5>
        </li>
        <li class="align-steps">
          <h5>If all 5 tasks are marked completed, you win the day. If not, it's a loss.</h5>
        </li>
        <li class="justify-end">
          <h5>5)</h5>
        </li>
        <li class="align-steps">
          <h5>View the calendar page to see the days you've won and lost. You'll gain momentum as you see the days stack where you've completed all tasks.</h5>
        </li>
      </ul>
      <a class="remove-text-decoration" href="/auth/google"><button class="btn btn-outline-dark btn-lg"><img
            class="google-logo" src="https://i.imgur.com/FHjYyi0.png">Continue with Google</button></a>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>