<%- include('./partials/header') %>
<div id="user-log-in">
  <h1>The Power List</h1>
  <div class="form-group">
    <a class="remove-text-decoration" href="/auth/google"><button class="btn btn-outline-dark btn-lg"><img class="google-logo" src="https://i.imgur.com/FHjYyi0.png">Continue with Google</button></a>
  </div>
</div>
<%- include('./partials/footer') %>