<%- include('../partials/tasks-partials/new-task-header') %>
<div class="content-container">
  <h1>Add New Tasks</h1>
  <form id="new-tasks-form" action="/tasks" method="POST">
    <div class="grid">
      <input type="date" name="date" id="date" min="<%= todayDateFormFormatted %>" value="<%= todayDateFormFormatted %>">
      <div class="form-group">
        <label>Enter your 5 critical tasks:</label>
        <input type="text" class="form-control task-margin" name="title" placeholder="Task 1" required>
        <input type="text" class="form-control task-margin" name="title" placeholder="Task 2" required>
        <input type="text" class="form-control task-margin" name="title" placeholder="Task 3" required>
        <input type="text" class="form-control task-margin" name="title" placeholder="Task 4" required>
        <input type="text" class="form-control task-margin" name="title" placeholder="Task 5" required>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control task-margin" id="category" name="tag" required>
          <option value="" selected="true" disabled>Select a category</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
          <option value="School">School</option>
          <option value="Other">Other</option>
        </select>
        <select class="form-control task-margin" id="category" name="tag" required>
          <option selected="true" value="" disabled>Select a category</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
          <option value="School">School</option>
          <option value="Other">Other</option>
        </select>
        <select class="form-control task-margin" id="category" name="tag" required>
          <option selected="true" value="" disabled>Select a category</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
          <option value="School">School</option>
          <option value="Other">Other</option>
        </select>
        <select class="form-control task-margin" id="category" name="tag" required>
          <option selected="true" value="" disabled>Select a category</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
          <option value="School">School</option>
          <option value="Other">Other</option>
        </select>
        <select class="form-control task-margin" id="category" name="tag" required>
          <option selected="true" value="" disabled>Select a category</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
          <option value="School">School</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group grid-span">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
      </div>
      <button id="submit-tasks" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<%- include('../partials/footer') %>